#
# by default, proxy all to 127.0.0.1:8080
#

server {
        listen {{ env.Getenv "NGINX_PORT" "80" }} default_server;
        {{ if not (env.Getenv "DISABLE_IPV6") -}}
        listen [::]:{{ env.Getenv "NGINX_PORT" "80" }} default_server ipv6only=on;
        {{ end -}}
        #listen 443 ssl;

        server_name localhost;

        #ssl_certificate cert.pem;
        #ssl_certificate_key cert.key;

        root /usr/share/nginx/html;

        index index.html index.htm;

        wallarm_mode {{ env.Getenv "WALLARM_MODE" "monitoring" }};
        {{ if env.Getenv "WALLARM_APPLICATION" -}}
        wallarm_application {{ .Env.WALLARM_APPLICATION }};
        {{ end }}
        {{ if env.Getenv "WALLARM_STATUS_ALLOW" -}}

        location /wallarm-status {
               {{range (.Env.WALLARM_STATUS_ALLOW | strings.Split ",") -}}
               allow {{ . }};
               {{ end -}}
               deny all;
               wallarm_status on;
               wallarm_mode off;
        }
        {{ end }}

       location ~ ^/wallarm-apifw(.*)$ {
            wallarm_mode off;
            proxy_pass http://127.0.0.1:8088$1;
            error_page 404 431         = @wallarm-apifw-fallback;
            error_page 500 502 503 504 = @wallarm-apifw-fallback;
       }

       location @wallarm-apifw-fallback {
            wallarm_mode off;
            return 500 "API FW fallback";
       }

        location / {
                {{ $nginxBackend := "http://127.0.0.1:8080" }}
                {{ if env.Getenv "NGINX_BACKEND" -}}
                        {{ if or (.Env.NGINX_BACKEND | strings.HasPrefix "http") (.Env.NGINX_BACKEND | strings.HasPrefix "https") -}}
                                {{ $nginxBackend = .Env.NGINX_BACKEND -}}
                        {{ else -}}
                                {{ $nginxBackend = (print "http://" .Env.NGINX_BACKEND) -}}
                        {{ end -}}
                {{ end -}}
                proxy_pass {{ print $nginxBackend }};
                include proxy_params;
        }
}
