name: CI

on:
  pull_request:
    branches: [ 'stable/**' ]
    types: [ 'opened', 'reopened', 'synchronize' ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.RUNNER }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - PLATFORM: amd64
            ARCH: x86_64
            RUNNER: self-hosted-amd64-1cpu
          - PLATFORM: arm64
            ARCH: aarch64
            RUNNER: self-hosted-arm64-1cpu
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v3.0.2

      - name: Build image
        run: make ARCHS=${{ matrix.ARCH }} PLATFORMS=${{ matrix.PLATFORM }} BUILDX_ARGS=--load build

      - name: Save image
        run: docker save -o node-${{ matrix.ARCH }}.tar docker.io/wallarm/node:test

      - name: Cache image
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
        with:
          retention-days: 1
          name: node-${{ matrix.ARCH }}.tar
          path: node-${{ matrix.ARCH }}.tar

  test:
    name: Test
    runs-on: ${{ matrix.RUNNER }}
    env:
      ## US preset
      env_code: ingress-us1
      CLIENT_ID: 7119
      ## EU preset
      # env_code: ingress
      # CLIENT_ID: 5
    needs:
      - build
    strategy:
      matrix:
        case: [ single, split ]
        ARCH: [ x86_64, aarch64 ]
        include:
          - ARCH: x86_64
            RUNNER: self-hosted-amd64-2cpu
          - ARCH: aarch64
            RUNNER: self-hosted-arm64-2cpu
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v3.0.2

      - name: Import secrets
        uses: hashicorp/vault-action@d1720f055e0635fd932a1d2a48f87a666a57906c # v3.0.0
        id: secrets
        with:
          exportEnv: false
          url: ${{ secrets.VAULT_URL }}
          role: ${{ secrets.VAULT_ROLE }}
          method: kubernetes
          path: kubernetes-ci
          secrets: |
            kv-gitlab-ci/data/github/${{ env.env_code }} api_token ;
            kv-gitlab-ci/data/github/${{ env.env_code }} api_host ;
            kv-gitlab-ci/data/github/${{ env.env_code }} api_preset ;
            kv-gitlab-ci/data/github/${{ env.env_code }} user_token ;
            kv-gitlab-ci/data/github/${{ env.env_code }} webhook_uuid ;
            kv-gitlab-ci/data/github/${{ env.env_code }} webhook_api_key ;
            kv-gitlab-ci/data/github/${{ env.env_code }} allure_server_token ;
            kv-gitlab-ci/data/github/shared/smoke-tests-registry-creds token_name ;
            kv-gitlab-ci/data/github/shared/smoke-tests-registry-creds token_secret ;
            kv-gitlab-ci/data/github/shared/smoke-tests-registry-creds registry_name ;

      - name: Login
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          registry: ${{ steps.secrets.outputs.registry_name }}
          username: ${{ steps.secrets.outputs.token_name }}
          password: ${{ steps.secrets.outputs.token_secret }}

      - name: Load cache
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427
        with:
          name: node-${{ matrix.ARCH }}.tar

      - name: Load images
        run: docker load -i node-${{ matrix.ARCH }}.tar

      - name: Run test
        env:
          USER_TOKEN: ${{ steps.secrets.outputs.user_token }}
          WALLARM_API_TOKEN: ${{ steps.secrets.outputs.api_token }}
          WALLARM_API_HOST: ${{ steps.secrets.outputs.api_host }}
          WALLARM_API_PRESET: ${{ steps.secrets.outputs.api_preset }}
          ALLURE_TOKEN: ${{ steps.secrets.outputs.ALLURE_SERVER_TOKEN }}
          ALLURE_ENVIRONMENT_ARCH: ${{ matrix.ARCH }}
          ALLURE_UPLOAD_REPORT: true
          WEBHOOK_API_KEY: ${{ steps.secrets.outputs.webhook_api_key }}
          WEBHOOK_UUID: ${{ steps.secrets.outputs.webhook_uuid }}
        run: make ${{ matrix.case }}

  scan:
    name: Vulnerability scanner
    runs-on: self-hosted-amd64-1cpu
    permissions:
      pull-requests: write
    needs:
      - build
    env:
      ARCH: x86_64
    steps:
      - name: Load cache
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427
        with:
          name: node-${{ env.ARCH }}.tar

      - name: Import secrets
        uses: hashicorp/vault-action@d1720f055e0635fd932a1d2a48f87a666a57906c # v3.0.0
        id: secrets
        with:
          exportEnv: false
          url: ${{ secrets.VAULT_URL }}
          role: ${{ secrets.VAULT_ROLE }}
          method: kubernetes
          path: kubernetes-ci
          secrets: |
            kv-gitlab-ci/data/github/shared/dockerhub-creds user | DOCKERHUB_USER ;
            kv-gitlab-ci/data/github/shared/dockerhub-creds password | DOCKERHUB_PASSWORD ;

      - name: Docker Scout
        uses: docker/scout-action@v1
        with:
          command: compare,cves
          image: archive://node-${{ env.ARCH }}.tar
          to: docker.io/wallarm/node:latest
          ignore-unchanged: false
          only-severities: critical,high
          write-comment: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          dockerhub-user: ${{ steps.secrets.outputs.DOCKERHUB_USER }}
          dockerhub-password: ${{ steps.secrets.outputs.DOCKERHUB_PASSWORD }}
